@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

:root {
   --header: #fff;
   --text-bg-color: #8bc34a;
}

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   max-width: 100%;
}

.header {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 20px 3%;
}

.header .logo {
   font-size: 2rem;
   color: #000;
   list-style: none;
   text-decoration: none;
   font-family: "Merriweather", serif;
   font-weight: 700;
}

a :is(span, .icones-color-green) {
   font-size: 1.2rem;
   color: var(--text-bg-color);
}

.navbar .ul-lists {
   display: flex;
   align-items: center;
   gap: 80px;
   list-style: none;
}

.list-link .list-link-a {
   text-decoration: none;
   font-size: 1rem;
   font-family: "Nunito Sans", sans-serif;
   color: #111;
}

.section-container {
   width: 100vw;
}


.link-item {
   color: #fff;
   font-size: 2rem;
   position: relative;
}


.icones-down-layout {
   position: relative;
   left: 6px;
   top: 2px;
}

.link-hidden {
   display: none;
   flex-direction: column;
   position: absolute;
   top: 140px;
}

.link-active:hover+.link-hidden {
   display: block;
}

.link-hidden-items {
   background: #fff;
   list-style: none;
   padding: 4px 6px 6px 6px;
   border-radius: 4px;
}

.link-hidden-item {
   text-decoration: none;
   line-height: 25px;
}

.link-item-a {
   text-decoration: none;
   color: #000;
   font-size: 1rem;
   font-family: "Nunito Sans", sans-serif;
}

.header-container {
   background: #cad2c5;
}

.nav-container {
   padding: 25px 3%;
}

.nav-container .ul-container {
   display: flex;
   justify-content: space-between;
   align-items: center;
   list-style: none;
}

.ul-container .ul-items {
   list-style: none;
}

.link-item .link-item-a {
   text-decoration: none;
   font-size: 1.1rem;
   font-family: "Nunito Sans", sans-serif;
   color: #fff;
}


.ul-container .ul-items {
   display: flex;
}

.ul-container .input-search {
   width: 12vw;
   background: #cad2c5;
   padding: 8px 12px;
   border-radius: 4px;
   font-size: 15px;
   outline: none;
   border: none;
}

.input-search:focus {
   outline: none;
   border-color: #007bff;
}

.ul-items button {
   background-color: #007bff;
   border: none;
   color: white;
   padding: 8px 12px;
   border-radius: 4px;
   cursor: pointer;
}

.ul-items button:hover {
   background-color: #0056b3;
}

.ul-items button:focus {
   outline: none;
}

/* espace de client */
.section-hero-2 {
   margin-top: -10px;
   padding: 0px 1.6%;
   min-height: 400px;
}

.figure-hero-2 {
   background-image: url(../img/img-principal-2.jpg);
   background-size: cover;
   background-position: center;
   height: 100%;
   width: 100%;
   border-radius: 5px;
}

.title-espace {
   margin-top: 30px;
   text-align: center;
   color: var(--header);
   font-size: 3rem;
   font-family: "Nunito Sans", sans-serif;
   font-weight: 900;
   padding: 120px;
}

/* section de formulaire*/

/* Style général du formulaire */
.form-container {
   display: flex;
   flex-direction: column;
   align-items: center;
   background: blue;
   margin-top: -33px;
   margin-right: 1.6%;
   margin-left: 1.6%;
   padding: 20px;
   border-radius: 5px;
}

/* Style des lignes d'articles */
.section-row {
   display: flex;
   justify-content: space-around;
   width: 100%;
}

/* Style des articles de formulaire */
.article-form {
   flex: 1;
   margin: 0 10px;
   padding: 20px;
   background-color: #f9f9f9;
   border-radius: 5px;
}

.barre {
   width: 2px;
   height: px;
   background: #444;
}

/* Style du titre du formulaire */
.title-form {
   margin-bottom: 20px;
   font-size: 1.2em;
   font-family: "Nunito Sans", sans-serif;
}

/* Style des colonnes de formulaire */
.form-col {
   margin-bottom: 15px;
}

/* Style des étiquettes des champs */
label {
   display: block;
   margin-bottom: 5px;
   font-family: "Nunito Sans", sans-serif;
   font-size: 1rem;
}

/* Style des champs de formulaire */
input[type="text"],
input[type="email"] {
   width: 100%;
   padding: 8px;
   border: 1px solid #ccc;
   border-radius: 4px;
   box-sizing: border-box;
}

/* Style du bouton Envoyer */
button[type="submit"] {
   background-color: #4CAF50;
   color: white;
   font-size: 1.1rem;
   font-family: "Nunito Sans", sans-serif;
   padding: 10px 20px;
   border: none;
   border-radius: 4px;
   cursor: pointer;
}

/* Effet de survol sur le bouton Envoyer */
button[type="submit"]:hover {
   background-color: #45a049;
}

/* Style du bouton Envoyer */
.link {
   background-color: #4CAF50;
   color: white;
   font-size: 1rem;
   font-family: "Nunito Sans", sans-serif;
   text-decoration: none;
   padding: 10px 20px;
   border: none;
   border-radius: 4px;
   cursor: pointer;
}

/* Effet de survol sur le bouton Envoyer */
.link:hover {
   background-color: #45a049;
}

.link-pwd {
   margin-top: 20px;
}

.password {
   text-decoration: none;
   color: #111;
   font-size: 1.1rem;
   font-family: "Nunito Sans", sans-serif;
}

/* section d'article de paragraphe */
.section-article-container {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   margin-top: 40px;
   padding: 0px 2%;
}

.title-paragraph {
   color: #111;
   font-size: 1.3rem;
   font-family: "Nunito Sans", sans-serif;
   position: relative;
}

.title-paragraph::after {
   content: "";
   width: 150px;
   height: 3px;
   background: #4CAF50;
   position: absolute;
   top: 30px;
   left: 70px;
}

.article-paragraph {
   margin-top: 25px;
}

.txt-paragraph-1 {
   font-size: 1.1rem;
   font-family: "Nunito Sans", sans-serif;
   text-align: center;
}

.txt-paragraph-2 {
   font-size: 1.1rem;
   font-family: "Nunito Sans", sans-serif;
   text-align: center;
}

hr {
   margin-top: 15px;
}

/* sention de footer reseaux */
.section-footer-reseaux {
   margin-top: 30px;
   background-color: #FFE4E1;
   padding-top: 20px;
}

.title-reseaux {
   text-align: center;
   font-size: 1.4rem;
   font-family: "Nunito Sans", sans-serif;
   font-weight: 900;
   color: #8bc34a;
   font-weight: 500;
}

.footer-reseaux {
   width: 100vw;
   height: 150px;
}

.ul-reseaux-sociaux {
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 50px;
   list-style: none;
   padding-top: 30px;
}

.ul-reseaux-sociaux .list-reseaux {
   text-align: center;
   width: 40px;
   height: 40px;
   border-radius: 50%;
   font-size: 1.4rem;
}

.list-reseaux-a {
   color: #fff;
}

.section-conatiner-services {
   display: flex;
   justify-content: space-between;
   padding: 0px 3%;
   margin-top: -50px;
}

.article-services {
   max-width: 300px;
}

.container-service {
   width: 100%;
}

.title-services {
   margin-top: 9px;
   margin-bottom: 15px;
   font-size: 1.3rem;
   color: #8bc34a;
   font-family: "Nunito Sans", sans-serif;
}

.lists-items {
   list-style: none;
   margin-bottom: 20px;
}

.list-item-link {
   text-decoration: none;
   color: #000;
   font-size: 1.07rem;
   font-family: "Nunito Sans", sans-serif;
   line-height: 24px;
}

.paragraph-list {
   color: #000;
   font-size: 1.07rem;
   font-family: "Nunito Sans", sans-serif;
}

.lists-items-row {
   display: flex;
   align-items: center;
   gap: 80px;
   list-style: none;
   margin-top: 30px;
}

.lists-items-row .list-item-link {
   font-size: 2.3rem;
   color: #8bc34a;
}

.article-paragraph-2 {
   margin-top: 30px;
   font-size: 1rem;
   font-family: "Nunito Sans", sans-serif;
   text-align: center;
}

.footer-copyright {
   background: #265073;
   padding: 20px;
}

.text-copyright {
   color: #fff;
   text-align: center;
   font-size: 1rem;
   font-family: "Nunito Sans", sans-serif;
   font-weight: 600;

}