<!DOCTYPE html>
<html lang="fr">

<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
   <link rel="stylesheet" href="../css/backOffice.css">
   <title>Page Back Office</title>
</head>

<body>
   <header class="header">
      <a href="../../index.html" class="logo"><span><i class="fa fa-pagelines icones-color-green" aria-hidden="true"></i>
            <span>fleuri</span>Zen</span>
      </a>
      <nav class="navbar">
         <ul class="ul-lists">
            <li class="list-link"><a class="list-link-a" href=""><span><i
                        class="fa fa-internet-explorer icones-color-green" aria-hidden="true"></i>
                  </span>International</a></li>

            <li class="list-link"><a class="list-link-a" href=""><span><i class="fa fa-eye icones-color-green"
                        aria-hidden="true"></i> </span>Suivi de commande</a></li>

            <li class="list-link"><a class="list-link-a" href=""><span><i class="fa fa-comment icones-color-green"
                        aria-hidden="true"></i> </span>Contactez-nous</a></li>

            <li class="list-link"><a class="list-link-a" href="../view/compte-destinateur.html"><span><i
                        class="fa fa-sign-in icones-color-green" aria-hidden="true"></i> </span>Se connecter /
                  s'inscrire</a></li>
         </ul>
      </nav>
   </header>
   <main>
      <section class="section-container">
         <header class="header-container">
            <nav class="nav-container">
               <ul class="ul-container">
                  <li class="link-item"><a class="link-item-a" href="/index.html">Paqûes</a></li>
                  <li class="link-item"><a class="link-item-a" href="">Anniversaire</a></li>

                  <ul class="ul-items">
                     <li class="link-item link-active"><a class="link-item-a" href="">Occasion<i
                              class="fa fa-angle-down icones-down-layout" aria-hidden="true"></i></a></li>
                     <li class="link-hidden">
                        <ul class="link-hidden-items">
                           <li class="link-hidden-item"><a class="link-item-a" href="">Mariage</a></li>
                           <li class="link-hidden-item"><a class="link-item-a" href="">Naissance</a></li>
                           <li class="link-hidden-item"><a class="link-item-a" href="">Amour</a></li>
                        </ul>
                     </li>
                  </ul>

                  <ul class="ul-items">
                     <li class="link-item link-active"><a class="link-item-a" href="">Bouquets<i
                              class="fa fa-angle-down icones-down-layout" aria-hidden="true"></i></a></li>
                     <li class="link-hidden">
                        <ul class="link-hidden-items">
                           <li class="link-hidden-item"><a class="link-item-a" href="">Bouquet de fleurs</a></li>
                           <li class="link-hidden-item"><a class="link-item-a" href="">Composition florale</a></li>
                           <li class="link-hidden-item"><a class="link-item-a" href="">fleurs de saison</a></li>
                           <li class="link-hidden-item"><a class="link-item-a" href="">fleurs et chocolat</a></li>
                           <li class="link-hidden-item"><a class="link-item-a" href="">Rose éternel</a></li>
                           <li class="link-hidden-item"><a class="link-item-a" href="">Fleurs séchées</a></li>
                        </ul>
                     </li>
                  </ul>
                  <li class="link-item"><a class="link-item-a" href="../view/plante.html">Plantes</a></li>

                  <ul class="ul-items">
                     <li class="link-item link-active"><a class="link-item-a" href="">Cadeaux<i
                              class="fa fa-angle-down icones-down-layout" aria-hidden="true"></i></a></li>
                     <li class="link-hidden">
                        <ul class="link-hidden-items">
                           <li class="link-hidden-item"><a class="link-item-a" href="">Fleurs et chocolat</a></li>
                           <li class="link-hidden-item"><a class="link-item-a" href="">fleurs et gourmandises</a></li>
                           <li class="link-hidden-item"><a class="link-item-a" href="">Fleurs et beauté</a></li>
                           <li class="link-hidden-item"><a class="link-item-a" href="">Fleurs et décoration</a></li>
                        </ul>
                     </li>
                  </ul>

                  <ul class="ul-items">
                     <li>
                        <form action="" method="get">
                           <input type="text" placeholder="Search.." class="input-search" name="search">
                           <button class="btn-search" type="submit"><i class="fa fa-search"
                                 aria-hidden="true"></i></button>
                        </form>
                     </li>
                  </ul>
            </nav>
         </header>
      </section>

      <section class="section-container-5">
         <section class="section-container-back-5">
            <article class="article-container-backoffice-5">
               <figure class="figure-container-backoffice-5">
                  <img src="../img/img-backoffice.webp" alt="">
               </figure>
            </article>
            <article class="article-container-backoffice-5">
               <div class="rating">
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star-half-o" aria-hidden="true"></i>
                  <i class="fa fa-star-o" aria-hidden="true"></i>
                  <span>80 avis</span>
               </div>
               <h3 class="title-card">Je choisis ma formule :</h3>
               <div class="box-card">
                  <figure class="figur-box">
                     <div class="box">
                        <img src="../img/img-box-1.avif" alt="">
                        <p class="paragrah-price">34.7€</p>
                     </div>
                  </figure>

                  <figure class="figure-box">
                     <div class="box">
                        <img src="../img/img-box-2.avif" alt="">
                        <p class="paragrah-price">29.10€</p>
                     </div>
                  </figure>

                  <figure class="figure-box">
                     <div class="box">
                        <img src="../img/img-box-3.avif" alt="">
                        <p class="paragrah-price">40.30€</p>
                     </div>
                  </figure>
               </div>
               <h3 class="title-card">J'ajoute une option</h3>
               <div class="box-number">
                  <label for="ticketNum">Quantité:</label>
                  <input type="number" id="ticketNum" name="ticketNum" min="0" />
               </div>
            </article>

            <article class="article-container-backoffice-5">
               <h3 class="title-card">Ma livraison :</h3>
               <p class="paragrah-card">Livraison possible dès demain</p>
               <h3 class="title-card">De préférence</h3>
               <div class="card">
                  <label for="pet-select">Quand :</label>
                  <select id="pet-select">
                     <option value="lundi">Lundi</option>
                     <option value="mardi">Mardi</option>
                     <option value="mercredi">Mercredi</option>
                     <option value="jeudi">Jeudi</option>
                     <option value="vendredi">Vendredi</option>
                     <option value="samedi">Samedi</option>
                     <option value="dimanche">Dimanche</option>
                  </select>
               </div>
               <form class="form-card">
                  <div class="card">
                     <div class="boxTime">
                        <input type="radio" id="contactChoice1" name="contact" value="email" />
                        <label for="contactChoice1">Dans la journée (de 9h à 20h)</label>
                     </div>

                     <div class="boxTime">
                        <input type="radio" id="contactChoice2" name="contact" value="phone" />
                        <label for="contactChoice2">Le matin (jusqu'à 13h)</label>
                     </div>

                     <div class="boxTime">
                        <input type="radio" id="conactChoice3" name="contact" value="mail" />
                        <label for="contactChoice3">Dans l'après-midi (jusqu'à 20h)</label>
                     </div>
                  </div>

                  <div class="card-btn">
                     <p class="card-price">28.4€</p>
                     <button type="submit" class="btn-comande">commander <i class="fa fa-arrow-right"
                           aria-hidden="true"></i></button>
                  </div>
               </form>
            </article>
         </section>
      </section>

      <section class="section-container-img-5">
         <section class="section-row-5">
            <article class="article-col-5">
               <figure class="figure-col-5">
                  <img src="../img/photo-fleur-1.avif" alt="">
               </figure>
               <figure class="figure-col-5">
                  <img src="../img/photo-fleur-2.avif" alt="">
               </figure>
               <figure class="figure-col-5">
                  <img src="../img/photo-fleur-3.avif" alt="">
               </figure>
               <figure class="figure-col-5">
                  <img src="../img/photo-fleur-4.avif" alt="">
               </figure>
            </article>

            <div class="article-col-5">
               <progress value="70" max="100" class="progress">70 %</progress>
            </div>

         </section>
         <div class="para-col-5">
            <p class="para-txt-col-5">La photo présentée correspond à la formule de prix 'énormément'. Photos non
               contractuelles.</p>
         </div>
      </section>

      <section class="section-container-decs-5">
         <section class="section-container-decs-row">
            <section class="section-container-col-5">
               <h3 class="title-desc-5">Description</h3>
               <hr>
               <article class="article-desc-col-5">
                  <h4 class="title-desc-col-5">Douce mélancolie</h4>
                  <p class="paragraph-desc-colo-5">Aussi plaisant qu'un joli souvenir, notre bouquet Palmarosa vous
                     portera au travers de sa douceur poudrée comme dans un rêve éveillé. D'un mélange de fleurs de
                     saison délicatement colorées, laissez-vous séduire par ce condensé de nature à offrir sans
                     modération et à découvrir parmi notre sublime collection de bouquets de fleurs</p>
               </article>
               <hr>
               <article class="article-desc-col-5">
                  <h4 class="title-desc-col-5">Livraison</h4>
                  <p class="paragraph-desc-colo-5">Ce produit sera livré et remis en mains propres par un fleuriste
                     membre du réseau Florajet.</p>
               </article>
            </section>

            <section>
               <section class="section-container-col-5">
                  <article class="article-desc-col-5">
                     <h3 class="title-desc-5">Composition</h3>
                     <hr>
                     <p class="paragraph-desc-colo-5">Bouquet dans les tons roses composé de roses, matricaires, dills
                        et alstromerias, le tout accompagné de feuillage.</p>
                  </article>
                  <hr>

                  <article class="article-desc-col-5">
                     <h4 class="title-desc-col-5">Charte qualité FleuriZen</h4>
                     <p class="paragraph-desc-colo-5">Votre bouquet sera réalisé quelques minutes avant sa livraison par
                        un artisan fleuriste proche du destinataire vous garantissant ainsi un produit d'une qualité
                        optimale.</p>
                  </article>
                  <hr>

                  <article class="article-desc-col-5">
                     <h4 class="title-desc-col-5">Note</h4>
                     <p class="paragraph-desc-colo-5">Votre arrangement floral Florawx, composé de fleurs fraîches,
                        pourra être quelque peu différent du visuel présenté qui a valeur indicative. Votre composition,
                        créée spécialement pour vous par un de nos artisans, est susceptible de varier légèrement en
                        fonction de la sensibilité artistique du fleuriste mais aussi de la saisonnalité des fleurs qui
                        la composent. L'esprit du bouquet, sa forme, ses couleurs ainsi que ses essences principales
                        seront respectés par notre artisan fleuriste qui réalisera, à votre intention, cette création
                        inédite quelques minutes avant de la livrer.</p>
                  </article>
                  <hr>
               </section>
            </section>
         </section>
      </section>

      <section class="section-container-produits-5">
         <h3 class="title-produit-5">Ces produits pourraient vous intéresser, n'est-ce pas ?</h3>
         <section class="section-container-products">
            <article class="contaiter-products">
               <a href="" class="product-links">
                  <figure class="product-flowers">
                     <img src="../img/photo-fleur-5.avif" alt="fleurs">
                     <h2>BEL AIR</h2>
                     <p>à partir de</p>
                     <div class="product-price">
                        <i>20,34€</i>
                     </div>
                     <p>Livraison dès demain</p>
                  </figure>
               </a>
            </article>

            <article class="contaiter-products">
               <a href="" class="product-links">
                  <figure class="product-flowers">
                     <img src="../img/photo-fleur-6.avif" alt="fleurs">
                     <h2>BEL AIR</h2>
                     <p>à partir de</p>
                     <div class="product-price">
                        <i>20,34€</i>
                     </div>
                     <p>Livraison dès demain</p>
                  </figure>
               </a>
            </article>

            <article class="contaiter-products">
               <a href="" class="product-links">
                  <figure class="product-flowers">
                     <img src="../img/photo-fleur-7.avif" alt="fleurs">
                     <h2>BEL AIR</h2>
                     <p>à partir de</p>
                     <div class="product-price">
                        <i>20,34€</i>
                     </div>
                     <p>Livraison dès demain</p>
                  </figure>
               </a>
            </article>

            <article class="contaiter-products">
               <a href="" class="product-links">
                  <figure class="product-flowers">
                     <img src="../img/photo-fleur-8.avif" alt="fleurs">
                     <h2>BEL AIR</h2>
                     <p>à partir de</p>
                     <div class="product-price">
                        <i>20,34€</i>
                     </div>
                     <p>Livraison dès demain</p>
                  </figure>
               </a>
            </article>
         </section>
      </section>

      <section class="section-container-avis">
         <h3 class="titles-avis">Ce que les clients disent sur nos produits</h3>
         <section class="section-avis-row">
            <article class="article-card-avis">
               <div class="ratings">
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star-half-o" aria-hidden="true"></i>
                  <i class="fa fa-star-o" aria-hidden="true"></i>
               </div>
               <div class="box-avis">
                  <h4 class="title-avis">CHEVALIER.</h4>
                  <i class="tim-avis">6/04/2024</i>
                  <p class="paragraph-avis">Le destinataire a semblé très satisfait</p>
               </div>
            </article>

            <article class="article-card-avis">
               <div class="ratings">
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
               </div>
               <div class="box-avis">
                  <h4 class="title-avis">CHEVALIER.</h4>
                  <i class="tim-avis">6/04/2024</i>
                  <p class="paragraph-avis">Le destinataire a semblé très satisfait</p>
               </div>
            </article>

            <article class="article-card-avis">
               <div class="ratings">
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star-o" aria-hidden="true"></i>
               </div>
               <div class="box-avis">
                  <h4 class="title-avis">CHEVALIER.</h4>
                  <i class="tim-avis">6/04/2024</i>
                  <p class="paragraph-avis">Le destinataire a semblé très satisfait</p>
               </div>
            </article>
         </section>
      </section>
   </main>

   <section class="section-footer-reseaux">
      <h2 class="title-reseaux">Suivez-nous</h2>
      <footer class="footer-reseaux">
         <ul class="ul-reseaux-sociaux">
            <li class="list-reseaux"><a class="list-reseaux-a" href=""><img src="../img/icone-facebook.png" alt=""></a></li>
            <li class="list-reseaux"><a class="list-reseaux-a" href=""><img src="../img/icone-instagram.png" alt=""></a></li>
            <li class="list-reseaux"><a class="list-reseaux-a" href="https://www.youtube.com/"><img src="../img/icone-youtube.png" alt=""></a></li>
            <li class="list-reseaux"><a class="list-reseaux-a" href=""><img src="../img/icone-pinterest.png" alt=""></a></li>
            <li class="list-reseaux"><a class="list-reseaux-a" href=""><img src="../img/icon-xbox-x.png" alt="" width="38px" height="38px"></a></li>
        </ul>
      </footer>

      <footer class="footer-services">
         <section class="section-conatiner-services">
            <article class="article-services">
               <div class="container-services">
                  <h3 class="title-services">Services</h3>
                  <ul class="lists-items">
                     <li class="list-item"><a class="list-item-link" href="">A votre service depuis 40 ans</a></li>
                     <li class="list-item"><a class="list-item-link" href="">Les avantages Floratwx</a></li>
                     <li class="list-item"><a class="list-item-link" href="">Formules d'abonnements</a></li>
                     <li class="list-item"><a class="list-item-link" href="">Faites livrer des fleurs à l'étranger</a>
                     </li>
                     <li class="list-item"><a class="list-item-link" href="">Nos solutions pour les entreprises</a></li>
                     <li class="list-item"><a class="list-item-link" class="list-item-link" href="">Informations
                           légales</a></li>
                     <li class="list-item"><a class="list-item-link" class="list-item-link" href="">Droit de
                           rétractation</a></li>
                     <li class="list-item"><a class="list-item-link" class="list-item-link" href="">Informatique et
                           Libertés</a></li>
                     <li class="list-item"><a class="list-item-link" href="">Cookies</a></li>
                     <li class="list-item"><a class="list-item-link" href="">Livraison Floratwx Premium</a></li>
                  </ul>
               </div>

               <div class="container-services">
                  <h3 class="title-services">Besoin d'aide ?</h3>
                  <ul class="lists-items">
                     <li class="list-item"><a class="list-item-link" href="">FAQ</a></li>
                     <li class="list-item"><a class="list-item-link" href="">Nous contacter</a></li>
                     <li class="list-item"><a class="list-item-link" href="">CGV</a></li>
                     <li class="list-item"><a class="list-item-link" href="">Gestion de la Confidentialité</a></li>
                     <li class="list-item"><a class="list-item-link" href="">Programme de fidélité</a></li>
                  </ul>
               </div>
            </article>

            <article class="article-services">
               <div class="container-services">
                  <h3 class="title-services">Côté Pratique</h3>
                  <ul class="lists-items">
                     <li class="list-item"><a class="list-item-link" href="">Suivi de livraison</a></li>
                     <li class="list-item"><a class="list-item-link" href="">Chercher un produit | Index</a></li>
                     <li class="list-item"><a class="list-item-link" href="">Trouver un fleuriste</a></li>
                     <li class="list-item"><a class="list-item-link" href="">Blog</a></li>
                     <li class="list-item"><a class="list-item-link" href="">Rejoindre le réseau Floratwx</a></li>
                  </ul>
               </div>

               <div class="container-services">
                  <h3 class="title-services">Gardons contact</h3>
                  <ul class="lists-items">
                     <li class="list-item"><a class="list-item-link" href="">Pour passer commande composez le
                           07.65.89.56.25(service 0.15€/min + prix appel).</a></li>
                     <li class="list-item"><a class="list-item-link" href="">Pour toutes informations sur votre
                           commande, suivi de livraison, SAV ou modification de commande composez le 07.65.89.56.25</a>
                     </li>
                  </ul>
               </div>
            </article>

            <article class="article-services">
               <div class="container-services">
                  <h3 class="title-services">Des fleurs à offrir</h3>
                  <ul class="lists-items">
                     <li class="list-item"><a class="list-item-link" href="">Livraison Fleurs Fête des Mères</a></li>
                     <li class="list-item"><a class="list-item-link" href="">Bouquet de Fleurs Mariage</a></li>
                  </ul>
               </div>

               <div class="container-services">
                  <h3 class="title-services">Newsletter</h3>
                  <ul class="lists-items">
                     <p class="paragraph-list">
                        Inscrivez-vous à notre newsletter et bénéficiez de 15% de remise
                     <p>
                        <li class="list-item"><a class="list-item-link" href="">M'inscrire</a></li>
                  </ul>
               </div>

               <div class="container-services">
                  <h3 class="title-services">Paiements acceptés</h3>
                  <ul class="lists-items-row">
                     <li class="list-item"><a class="list-item-link" href=""><img src="../img/icone-carte-visa-48.png" alt=""></a></li>
                     <li class="list-item"><a class="list-item-link" href=""><img src="../img/icone-mastercard-48.png" alt=""></a></li>
                     <li class="list-item"><a class="list-item-link" href=""><img src="../img/icone-paypal-48.png" alt="" width="43px" height="39px"></a></li>
                  </ul>
               </div>

               <div>
                  <ul class="lists-items-row">
                     <li class="list-item"><a class="list-item-link" href=""><img src="../img/icone-amex-48.png" alt="" width="45px" height="40px"></a></li>
                     <li class="list-item"><a class="list-item-link" href=""><img src="../img/icone-discord-48.png" alt=""></a></li>
                     <li class="list-item"><a class="list-item-link" href=""><img src="../img/icone-jcb-48.png" alt=""></a></li>
                  </ul>
               </div>
            </article>
         </section>
      </footer>
   </section>

   <footer class="footer-copyright">
      <p class="text-copyright">&copy; 2024 - fleuriZen, tous droit réservés</p>
   </footer>
</body>

</html>